-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: registrar_dbnew
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbldocuments`
--

DROP TABLE IF EXISTS `tbldocuments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbldocuments` (
  `DocumentID` int(11) NOT NULL AUTO_INCREMENT,
  `DocumentName` varchar(100) NOT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `Fee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `Status` varchar(20) NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`DocumentID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbldocuments`
--

LOCK TABLES `tbldocuments` WRITE;
/*!40000 ALTER TABLE `tbldocuments` DISABLE KEYS */;
INSERT INTO `tbldocuments` VALUES (1,'Transcript of Records','Official record of grades and courses taken',150.00,'Active'),(2,'Certificate of Enrollment','Proof that the student is currently enrolled',50.00,'Active'),(3,'Certificate of Good Moral','Certifies good conduct while enrolled in the school',100.00,'Active'),(4,'Certification','General certification issued by the registrar',50.00,'Active'),(5,'Honorable Dismissal','Document for transfer to another institution',100.00,'Active');
/*!40000 ALTER TABLE `tbldocuments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblrequest`
--

DROP TABLE IF EXISTS `tblrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblrequest` (
  `RequestID` int(11) NOT NULL AUTO_INCREMENT,
  `RequestNo` varchar(30) NOT NULL,
  `StudentID` varchar(20) NOT NULL,
  `TotalAmount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `PaymentStatus` varchar(20) NOT NULL DEFAULT 'Unpaid',
  `Status` varchar(30) NOT NULL DEFAULT 'Pending',
  `RequestDate` datetime NOT NULL DEFAULT current_timestamp(),
  `DateProcessed` datetime DEFAULT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `ProcessedBy` varchar(100) DEFAULT NULL,
  `ORNo` varchar(50) DEFAULT NULL,
  `ORDate` date DEFAULT NULL,
  PRIMARY KEY (`RequestID`),
  UNIQUE KEY `RequestNo` (`RequestNo`),
  KEY `fk_request_student` (`StudentID`),
  KEY `fk_processed_by` (`ProcessedBy`),
  CONSTRAINT `fk_request_student` FOREIGN KEY (`StudentID`) REFERENCES `tblstudents` (`StudentID`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblrequest`
--

LOCK TABLES `tblrequest` WRITE;
/*!40000 ALTER TABLE `tblrequest` DISABLE KEYS */;
INSERT INTO `tblrequest` VALUES (30,'REQ-2026-00001','1023-26',150.00,'Paid','Processing','2026-10-01 14:06:42','2026-10-01 14:54:21','3','Jancris Tiu','1104-26','2026-10-01'),(31,'REQ-2026-00002','2194-26',150.00,'Paid','Released','2026-10-01 14:22:22','2026-10-06 01:40:54','2','Sho Uno Sabesaje','2111-26','2026-10-01');
/*!40000 ALTER TABLE `tblrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblrequestdetails`
--

DROP TABLE IF EXISTS `tblrequestdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblrequestdetails` (
  `RequestDetailID` int(11) NOT NULL AUTO_INCREMENT,
  `RequestID` int(11) NOT NULL,
  `DocumentID` int(11) NOT NULL,
  `Quantity` int(11) NOT NULL DEFAULT 1,
  `Subtotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `Amount` int(11) DEFAULT NULL,
  PRIMARY KEY (`RequestDetailID`),
  KEY `fk_detail_request` (`RequestID`),
  KEY `fk_detail_document` (`DocumentID`),
  CONSTRAINT `fk_detail_document` FOREIGN KEY (`DocumentID`) REFERENCES `tbldocuments` (`DocumentID`),
  CONSTRAINT `fk_detail_request` FOREIGN KEY (`RequestID`) REFERENCES `tblrequest` (`RequestID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblrequestdetails`
--

LOCK TABLES `tblrequestdetails` WRITE;
/*!40000 ALTER TABLE `tblrequestdetails` DISABLE KEYS */;
INSERT INTO `tblrequestdetails` VALUES (49,30,1,1,150.00,150),(50,31,1,1,150.00,150);
/*!40000 ALTER TABLE `tblrequestdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblstudents`
--

DROP TABLE IF EXISTS `tblstudents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblstudents` (
  `StudentID` varchar(20) NOT NULL,
  `LRN` varchar(20) DEFAULT NULL,
  `FirstName` varchar(50) NOT NULL,
  `LastName` varchar(50) NOT NULL,
  `MiddleName` varchar(50) DEFAULT NULL,
  `Course` varchar(50) NOT NULL,
  `YearLevel` varchar(5) NOT NULL,
  `Section` varchar(20) DEFAULT NULL,
  `ContactNo` varchar(20) DEFAULT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`StudentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblstudents`
--

LOCK TABLES `tblstudents` WRITE;
/*!40000 ALTER TABLE `tblstudents` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblstudents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblusers`
--

DROP TABLE IF EXISTS `tblusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblusers` (
  `UserID` int(11) NOT NULL AUTO_INCREMENT,
  `Username` varchar(50) NOT NULL,
  `Password` varchar(64) NOT NULL,
  `FullName` varchar(100) NOT NULL,
  `Role` varchar(20) NOT NULL,
  `CourseAssigned` varchar(50) DEFAULT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`UserID`),
  UNIQUE KEY `Username` (`Username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblusers`
--

LOCK TABLES `tblusers` WRITE;
/*!40000 ALTER TABLE `tblusers` DISABLE KEYS */;
INSERT INTO `tblusers` VALUES (1,'admin','admin123','Jonnidel Reales','Administrator',NULL,'Active'),(2,'staff_bsit','staff_bsit123','Sho Uno Sabesaje','Registrar Staff','BSIT','Active'),(3,'staff_cthm','staff_cthm123','Jancris Tiu','Registrar Staff','CTHM','Active'),(4,'staff_bscrim','staff_bscrim123','Joshua Vilacorte','Registrar Staff','BSCRIM','Active');
/*!40000 ALTER TABLE `tblusers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-06  2:09:55
